*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form{
    position: relative;
    background-color: rgba(26, 41, 62, 1);
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-login{
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
     width: 350px;
     min-height: 300px;
     margin: auto;
     padding: 40px;
     background: rgba(0,0,0,.5);
     border-radius: 10px;
}
.form-login h2{
    margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 32px;
}
.form-login input{
    width: 100%;
    outline: none;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border-bottom: 1px solid #fff;
    background: transparent;
    padding-left: 5px;
}
.form-info{
    position: relative;
}
.form-login p{
    color: #fff;
    text-align: left;
    position: absolute;
    bottom: 40px;
    transition-duration: 1s;
}
.form-login button{
    padding: 8px 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
}

.form-info input[type=text]:focus+ .form-us  {
   bottom: 70px;
   color: rgb(3, 220, 231);
   font-size: 12px;
   transition-duration: 1s;
   
}
.form-info input[type=password]:focus+ .form-pw{
    bottom: 70px;
    color: rgb(3, 220, 231);
    font-size: 12px;
    transition-duration: 1s;
    
}
.form-info input[type=text]:valid+ .form-us{
    bottom: 70px;
    color: rgb(3, 220, 231);
    font-size: 12px;
}
.form-info input[type=password]:valid+ .form-pw{
    bottom: 70px;
    color: rgb(3, 220, 231);
    font-size: 12px;
}
.form-login button{
    border: none;
    outline: none;
   
    
 
   background: #03e9f4;
   color: #fff;
   border-radius: 5px;
  
}
.form-login button:hover{
    cursor: pointer;
    background-color: rgb(3, 220, 231);
    color: #fff;
    animation: none;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}
.Alert{
   position: absolute;
   top: 0;
   
}